<!DOCTYPE html>
<html>
<head>
    <title>Passwords Generated</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">
    <h1> {% if passwords|length == 1 %}
        Votre mot de passe est :
    {% else %}
        Vos mots de passe sont :
    {% endif %}
    </h1>
    <ul>
    {% for password in passwords %}
        <li>{{ password }}</li>
    {% endfor %}
    </ul>

    <p>Pensez bien à le sauvegarder pour ne pas le perdre :)</p>

    <form action="/" method="get">
    <button type="submit">Retour</button>
    </form>
</div>

</body>
</html>